.main-navigation__menu-btn {
  display: none;
}

.main-navigation__title {
  margin-right: auto;
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
  margin: auto 2rem;
  font-size: 110%;
}

.main-navigation__header-nav {
  min-width: max-content;
  margin-right: 2rem;
}

@media (max-width: 600px) {
  .main-navigation__header-nav {
    display: none;
  }

  .main-navigation__menu-btn {
    display: block;
    margin: auto 2rem;
    background: none;
    border: none;
    cursor: pointer;
    align-self: stretch;
    width: 3rem;
    height: 3rem;
  }

  .main-navigation__menu-btn span {
    width: 3rem;
    height: 2px;
    background-color: white;
    display: block;
    border: none;
  }

  .main-navigation__menu-btn span:first-child {
    transform: translateY(-0.8rem);
  }

  .main-navigation__menu-btn span:last-child {
    transform: translateY(0.8rem);
  }
} ;
